.banner {
	background-image: url('Images/pic8.jpg');
	background-size: cover;
	background-position: top;
	height: 75vh;
}

#colored-image {
	height: 200px;
	width: 300px;

}

#img-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

